

.header {
    background-color: var(--black);
}

.header__nav {
    position: absolute;
    background-color: var(--background);
    right: -128px;
    bottom: -764px;
    display: none;
    width: 232px;
    height: 764px;
}

.header__nav--show {
  display: block;
  z-index: 2;
}

.header__nav-title{
  margin-top: 37px;
  margin-left: 34px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.menu-item__title {
  font-family: Lato;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: var(--bright-pink);
  text-transform: uppercase;
  margin-top: 24px;
  margin-left: 34px;
}

.menu-item__sub-item {
  font-family: Lato;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  color: #6F6E6E;
  margin-top: 12px;
  margin-left: 54px;
}


.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    position: relative;
    
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__logo {
    margin: 0 0 0 31px;
}

.header__menu-btn {
    border: none;
    background-color: transparent;
}

.header__menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Lato;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-style: normal; 
  color: #6F6E6E;
}

.header-menu-item {
  color: darkblue;
  text-decoration: none;
}


.brand {
    display: flex;
    height: 764px;
}

.brand__image {
    min-width: 800px;
    background-color: var(--light-pink);
    background-image: url(img/upper-man.png);
}

.brand__wrp {
    background-color: var(--light-pink);
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.brand__title {

    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    position: relative;


}

.brand__title::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 92px;
    top: 5px;
    left: -16px;
    background-color: var(--bright-pink);
}

.brand__subtitle {
    display: flex;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    font-family: Lato;

}

.brand__subtitle-pink {
    margin-left: 5px;
    color: var(--bright-pink);

}

.sale__body {
  margin-top: 65px;
}

.sale__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sale__item {
  width: 360px;
  height: 260px;
}

.sale__item--men {
  background: url(img/for_women.jpg) no-repeat;
}

.sale__item--woman {
  background: url(img/for_men.jpg) no-repeat;
}

.sale__item--kids {
  background: url(img/for_kids.jpg) no-repeat;
}

.sale__item--long {
  background: url(img/accesories.jpg);
  width: 1140px;
  height: 180px;
  margin-top: 20px;
}

.sale__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sale__sub-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.sale__sub-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: var(--bright-pink);
  text-transform: uppercase;
}
.fetured__txt {
  margin: 96px 0 18px 0;
  text-align: center;
}

.fetured__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.fetured__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.fetured__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fetured__item {
  width: 360px;
  height: 580px;
  margin: 30px 0;
  background-color: var(--ghost-white);
  margin-bottom: 30px;
  position: relative;
}

.item__btn {
  display: none;
}

.item__btn--text {
  display: block;
  margin-left: 10px;
  font-family: Lato;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;  
  color: #FFFFFF;
}

.fetured__link {
  display: block;
  background: #f8f8f8;
  text-decoration: none;
}

.fetured__img {
  position: relative;
}

.fetured__img::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
}

.fetured__img:hover .item__btn {
  display: flex;
  position: absolute;
  top: 45%;
  right: 30%;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  width: 138px;
  height: 43px;
  align-items: center;
  padding: 10px 10px;
}

.fetured__img:hover::before {
  display: block;
}


.fetured__sub-title {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 25px 0 12px 18px;
}

.fetured__sub-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 0 18px;
  color: #5d5d5d;
}

.fetured__price {
  font-size: 16px;
  line-height: 19px;
  color: var(--bright-pink);
  padding: 18px;
}

.fetured__btn {
  text-align: center;
  margin-bottom: 95px;
  margin-top: 50px;
}

.featured--browse-btn {
  width: 211px;
  height: 47px;
  color:var(--bright-pink);
  border-color: var(--bright-pink);
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
}

.featured--browse-btn:hover {
  background-color: var(--bright-pink);
  color: #fff;
}


.skills {
  width: 100%;
  height: 341px;
  background: #222224;
}

.skills__body {
  padding: 90px 10px;
}

.skills__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 360px;
}


.skills__sub-title {
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
  justify-self: center;
  margin-top: 28px;
}

.skills__sub-text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer__top {
  width: 100%;
  min-height: 448px;
  background: url(img/footer.jpg) no-repeat top center;
  background-size: cover;
}

.top-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-footer__comment {
  width: 360px;
  height: 448px;
  display: flex;
  align-items: center;
}

.top-footer__img {
  text-align: center;
  margin-bottom: 30px;
}

.top-footer__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.top-footer__text {
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.email-footer__title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.email-footer__text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.form-email__input {
  width: 256px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  padding: 0 22px;
  border-color:  #e1e1e1;
  
}

.form-email__submit {
  height: 50px;
  width: 100px;
  border-radius: 0 23px 23px 0;
  text-align: center;
  padding: 0 22px;
  float:right;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Lato;
  background-color: var(--bright-pink);
  color: #FFFFFF;
  border-color: var(--bright-pink);
}

.bottom-footer {
  width: 100%;
  height: 79px;
  background: #222224;
}

.bottom-footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
}

.bottom-footer__text {
  font-size: 16px;
  line-height: 150%;
  color: #fbfbfb;
}

.bottom-footer__social {
  color: #fff;
  transition: color 0.3s ease 0s;
}

.bottom-footer__item:hover {
  background-color: #f16d7f;
  opacity: 0.6
}

.bottom-footer__list {
  display: flex;
}

.bottom-footer__item {
  font-size: 30px;
  padding: 5px 5px;
}