.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }
  
  .page {
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 17px;
  }
  
  .container {
      max-width: 1140px;
      margin: 0 auto;
  }

  @media (max-width: $tablet-width) {

    .container {
        max-width: 96%;
    }
  }

  @media (max-width: $mobile-width) {
      
    .container {
        max-width: 91%;
    } 
  }

  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Lato-regular.woff2),
        url(/fonts/Lato-regular.woff);
  }

  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/Lato-italic.woff2),
        url(/fonts/Lato-italic.woff);
  }

  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Lato-light.woff2),
        url(/fonts/Lato-light.woff);
  }

  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/Lato-lightitalic.woff2),
        url(/fonts/Lato-lightitalic.woff);
  }

  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Lato-bold.woff2),
        url(/fonts/Lato-bold.woff);
  }

  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url(/fonts/Lato-black.woff2),
        url(/fonts/Lato-black.woff);
  }

