
$black: #222222;
$light-pink: #F1E4E6;
$bright-pink: #F16D7F;
$background:#FFF;
$title: #222222;
$svg_filling: #E8E8E8;
$svg_hover: #9F9F9F;
$skills_bkg:#222224;
$skills_text_color:#FBFBFB;
$footer_bkg:#e1e1e1;
$menu-item:#6F6E6E;
$registration-bkg: #E5E5E5;
$reg_welcome_text:#000000;