/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 96%;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 91%;
  }
}

.header {
  background-color: #222222;
}

.header .header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
  position: relative;
}

@media (max-width: 768px) {
  .header .header__wrp .header__wrp-controls {
    margin-right: 20px;
  }
}

.header .header__wrp .header__logo {
  margin: 0 41px 0 31px;
}

.header .header__wrp .header__menu-btn {
  border: none;
  background-color: transparent;
}

.header .header__wrp .header__link {
  margin-left: 33px;
}

@media (max-width: 375px) {
  .header .header__wrp .header__link {
    display: none;
  }
}

.header .header__wrp .icon_burger {
  fill: #E8E8E8;
}

.header .header__wrp .icon_burger:active {
  fill: #9F9F9F;
}

.header .header__wrp .icon:hover {
  opacity: 0.6;
}

.header__nav {
  position: absolute;
  background-color: #FFF;
  right: -128px;
  bottom: -764px;
  display: none;
  width: 232px;
  height: 764px;
}

.header__nav-title {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  font-style: normal;
  margin-left: 34px;
  color: #222222;
  text-transform: uppercase;
  margin-top: 37px;
}

.header__menu-list {
  margin: 0;
  list-style: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
  padding: 0;
}

.menu-item__link {
  text-decoration: none;
  color: #6F6E6E;
}

.menu-item__link:visited {
  color: #6F6E6E;
}

.menu-item__title {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
  margin-top: 24px;
  margin-left: 34px;
}

.menu-item__sub-item {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
  margin-top: 12px;
  margin-left: 54px;
}

.header__nav--show {
  display: block;
  z-index: 2;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 764px;
}

@media (max-width: 768px) {
  .brand {
    height: 369px;
  }
}

.brand .brand__image {
  min-width: 50%;
  background: rgba(113, 103, 105, 0.08);
  background-image: url("../img/upper-man.png");
  background-size: auto;
  background-position: center;
}

@media (max-width: 768px) {
  .brand .brand__image {
    width: 50%;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 375px) {
  .brand .brand__image {
    display: none;
  }
}

.brand .brand__wrp {
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .brand .brand__wrp {
    min-height: 363px;
  }
}

.brand .brand__title {
  font-family: Lato;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 768px) {
  .brand .brand__title {
    font-family: Lato;
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
    font-style: normal;
    margin-right: 32px;
    margin-left: 45px;
  }
}

@media (max-width: 375px) {
  .brand .brand__title {
    font-family: Lato;
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
    margin-left: 56px;
  }
}

.brand .brand__title::before {
  position: absolute;
  width: 12px;
  height: 92px;
  top: 5px;
  left: -16px;
  background-color: #F16D7F;
  content: '';
}

@media (max-width: 768px) {
  .brand .brand__title::before {
    height: 74px;
    margin-right: 16px;
  }
}

@media (max-width: 375px) {
  .brand .brand__title::before {
    height: 61px;
    margin-right: 15px;
  }
}

.brand .brand__subtitle {
  font-family: Lato;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .brand .brand__subtitle {
    font-family: Lato;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .brand .brand__subtitle {
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand .brand__subtitle-pink {
  color: #F16D7F;
  margin-left: 5px;
}

.sale__body {
  margin-top: 65px;
}

@media (max-width: 768px) {
  .sale__body {
    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  .sale__body {
    margin-top: 32px;
  }
}

.sale__body .sale__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 375px) {
  .sale__body .sale__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sale__body .sale__item {
  width: 31%;
  height: 260px;
}

@media (max-width: 768px) {
  .sale__body .sale__item {
    height: 168px;
  }
}

@media (max-width: 375px) {
  .sale__body .sale__item {
    width: 100%;
    height: 247px;
    margin-top: 32px;
  }
}

.sale__body .sale__item--men {
  background: url(../img/for_women.jpg) no-repeat;
}

.sale__body .sale__item--woman {
  background: url(../img/for_men.jpg) no-repeat;
}

.sale__body .sale__item--kids {
  background: url(../img/for_kids.jpg) no-repeat;
}

.sale__body .sale__item--long {
  background: url(../img/accesories.jpg);
  width: 100%;
  height: 180px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .sale__body .sale__item--long {
    height: 116px;
  }
}

@media (max-width: 375px) {
  .sale__body .sale__item--long {
    height: 111px;
    margin-top: 32px;
  }
}

.sale__body .sale__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.sale__body .sale__sub-text {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .sale__body .sale__sub-text {
    min-width: 13%;
  }
}

.sale__body .sale__sub-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  color: #F16D7F;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .sale__body .sale__sub-title {
    min-width: 154px;
  }
}

.fetured__txt {
  margin: 96px 0 18px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .fetured__txt {
    margin: 154px 0 72px 0;
  }
}

.fetured__title {
  font-family: Lato;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: .fetured__title black;
}

.fetured__text {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #9F9F9F;
}

.fetured__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fetured__item {
  width: 360px;
  height: 580px;
  margin: 30px 0;
  background-color: #FFF;
  margin-bottom: 30px;
  position: relative;
}

@media (max-width: 768px) {
  .fetured__item {
    margin-bottom: 16px;
  }
}

.item__btn {
  display: none;
}

.item__btn--text {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  display: block;
  margin-left: 10px;
  color: #FFF;
}

.fetured__link {
  display: block;
  background: #f8f8f8;
  text-decoration: none;
}

.fetured__img {
  position: relative;
}

.fetured__img::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
}

.fetured__img:hover .item__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 45%;
  right: 30%;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  width: 138px;
  height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
}

.fetured__img:hover::before {
  display: block;
}

.fetured__sub-title {
  font-family: Lato;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #222222;
  padding: 25px 0 12px 18px;
}

.fetured__sub-text {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  padding: 0 18px;
  color: #5d5d5d;
}

.fetured__price {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  padding: 18px;
}

.fetured__btn {
  text-align: center;
  margin-bottom: 95px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .fetured__btn {
    margin-top: 32px;
    margin-bottom: 65px;
  }
}

.featured--browse-btn {
  width: 211px;
  height: 47px;
  color: #F16D7F;
  border-color: #F16D7F;
  border-width: 1px;
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
}

.featured--browse-btn:hover {
  background-color: #F16D7F;
  color: #FFF;
}

.skills {
  width: 100%;
  height: 341px;
  background: #222224;
}

@media (max-width: 768px) {
  .skills {
    height: 610px;
  }
}

.skills .skills__body {
  padding: 90px 10px;
}

@media (max-width: 768px) {
  .skills .skills__body {
    padding: 0 0;
  }
}

.skills .skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .skills .skills__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skills .skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
}

@media (max-width: 768px) {
  .skills .skills__item {
    margin-top: 48px;
  }
}

.skills .skills__sub-title {
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 28px;
}

@media (max-width: 375px) {
  .skills .skills__sub-title {
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
  }
}

.skills .skills__sub-text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

@media (max-width: 375px) {
  .skills .skills__sub-text {
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    font-style: normal;
  }
}

.footer__top {
  width: 100%;
  min-height: 448px;
  background: url("../../img/footer.jpg") no-repeat top center;
  background-size: cover;
}

.top-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .top-footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 614px;
  }
}

.top-footer__comment {
  width: 360px;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .top-footer__comment {
    height: auto;
  }
}

@media (max-width: 375px) {
  .top-footer__comment {
    width: 340px;
  }
}

.top-footer__img {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .top-footer__img {
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

.top-footer__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@media (max-width: 375px) {
  .top-footer__image {
    width: 35%;
    height: auto;
  }
}

.top-footer__text {
  display: block;
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: #222224;
}

@media (max-width: 375px) {
  .top-footer__text {
    font-family: Lato;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: italic;
  }
}

@media (max-width: 768px) {
  .email-footer__form {
    margin-bottom: 100px;
  }
}

.email-footer__title {
  font-family: Lato;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #222224;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .email-footer__title {
    margin-bottom: 0;
  }
}

.email-footer__text {
  font-family: Lato;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #222224;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .email-footer__text {
    margin-bottom: 16px;
  }
}

@media (max-width: 375px) {
  .email-footer__text {
    font-family: Lato;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 22px;
  }
}

.form-email__input {
  width: 256px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  padding: 0 22px;
  border-color: #e1e1e1;
  color: #222224;
}

@media (max-width: 375px) {
  .form-email__input {
    width: 58%;
  }
}

.form-email__submit {
  height: 50px;
  width: 100px;
  border-radius: 0 23px 23px 0;
  text-align: center;
  padding: 0 22px;
  float: right;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  background-color: #F16D7F;
  color: #FFF;
  border-color: #F16D7F;
}

@media (max-width: 375px) {
  .form-email__submit {
    width: 26%;
    padding: 0 12px;
  }
}

.bottom-footer {
  width: 100%;
  height: 79px;
  background: #222224;
}

@media (max-width: 375px) {
  .bottom-footer {
    height: 143px;
  }
}

.bottom-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 79px;
}

@media (max-width: 768px) {
  .bottom-footer__body {
    margin-right: 32px;
  }
}

@media (max-width: 375px) {
  .bottom-footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}

.bottom-footer__text {
  font-size: 16px;
  line-height: 150%;
  color: #FBFBFB;
}

@media (max-width: 768px) {
  .bottom-footer__text {
    margin-left: 32px;
  }
}

@media (max-width: 375px) {
  .bottom-footer__text {
    margin-top: 40px;
  }
}

.bottom-footer__social {
  color: #FFF;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@media (max-width: 375px) {
  .bottom-footer__social {
    margin-top: 33px;
  }
}

.bottom-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer__item {
  font-size: 30px;
  padding: 5px 5px;
}

.outer {
  fill: #FFF;
}

.inner {
  fill: #222222;
}

.footer__social-icon:hover .outer {
  fill: #F16D7F;
}

.footer__social-icon:hover .inner {
  fill: #FFF;
}

.reg {
  background-color: #E5E5E5;
}

.reg__header {
  height: 148px;
  background-color: #F1E4E6;
}

.reg__header .reg__header__title {
  display: inline-block;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  margin-left: 31px;
  margin-top: 59px;
}

.reg__box__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reg__box__forms {
  margin-left: 31px;
  margin-top: 64px;
}

.name-forms__title {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.input-form {
  margin-top: 20px;
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
  color: #b1b1b1;
  padding-top: 12px;
  padding-left: 17px;
  padding-bottom: 15px;
  font-family: Lato;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-radio {
  margin-top: 30px;
  margin-bottom: 33px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
}

.radio-label {
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
  margin-right: 20;
  font-family: Lato;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
}

.reg__box__text {
  width: 359px;
  margin-top: 15px;
  margin-bottom: 39px;
  font-family: Lato;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #B1B1B1;
}

.reg__box__submit-btn {
  height: 50px;
  width: 167px;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  background-color: #F16D7F;
  color: #FFF;
  border-color: #F16D7F;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 96px;
  position: relative;
}

.reg__box__welcome_text {
  margin-left: 128px;
  margin-top: 64px;
}

.welcome-text__title {
  text-transform: uppercase;
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 22px;
  color: #000000;
}

.welcome-text__text {
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 21px;
}

.welcome-text__list {
  list-style-type: none;
}

.welcome-text__list-item {
  padding-left: 45px;
  background-image: url(../../img/list_item.svg);
  background-position: 0 0;
  background-size: 1.4rem 1.6rem;
  background-repeat: no-repeat;
  margin-bottom: 16px;
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */